<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"0>
    <title>DataFlair Job portal Project</title>
</head>
<body>
    {% include 'navbar.html' %}
    <br>
	<br>
	    <p>
        At its core, the recruiting process is all about connecting job seekers with the right opportunities (aka vacancy). However, there are two primary users in this process: Job Seeker and Recruiter. While both groups are focused on achieving the same end goal of filling job vacancies, they approach the process from very different perspectives.
    </p>
    <p>
        Job seekers are individuals who are actively seeking employment. They may be looking for a new job for a variety of reasons, including career growth, a desire for a better work-life balance, or a need for a higher salary. Job seekers will register on the website and build their resume by submitting their CV or completing their profile application. Then the job seeker will have the opportunity to apply for the vacancies created by recruiters as we will see below.
    </p>
    <p>
        Recruiters, on the other hand, are professionals who work on behalf of companies to find qualified candidates for job vacancies. They are responsible for screening resumes, conducting interviews, and making hiring decisions. Recruiters work for a single company but can create multiple vacancies.
    </p>
    <p>
        While both job seekers and recruiters are important components of the hiring process, they have different priorities and approaches. Job seekers are focused on finding the right job for their skills and experience, while recruiters are focused on finding the right candidate for a specific job opening. By understanding the differences between these two groups, job seekers can better navigate the hiring process and work with recruiters to find the right employment opportunities.
    </p>
</body>
</html>
